.react-datepicker {
    font-size: 1.1rem !important;
    margin-left: -45px;

  }
  
  .react-datepicker__current-month {
    font-size: 1.2rem !important; 
  }
  
  .react-datepicker__header {
    padding-top: 3px !important; 
  }
  
  .react-datepicker__navigation {
    top: 5px !important;    
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important; 
  }
  