.wrapper {
  background-color: aqua;
}

.content-wrapper {
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order:5;
    min-height: 78vh;
    background-color: white;
  }

