section{
    background-image: url('https://images.pexels.com/photos/260352/pexels-photo-260352.jpeg');
    background-size: cover;
}

.gradient-custom-4 {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #31d2f2, rgba(194, 233, 251, 1));
}

.top {
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.middle {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 50px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.btn-register{
    color:white;
    font-size: 200px;
}